<html>
<head>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script type="text/javascript">

function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", "{{csrftoken}}");
        }
    }
});

function removePost(post_id){
    $.ajax({
        url: "/blog/api/articles/"+post_id,
        type: 'POST',
        data: {'csrfmiddlewaretoken':'{{csrf_token}}'},
        dataType:"json",
        success: function( data ) {
            setTimeout(function(){
                location.reload();
            }, 200);    // Let's wait for the server to be finished with the transaction. Arbitrary 200ms
        }
    });
}

</script>
</head><body>
<h1>Yissss, admin page</h1>
<a href="{% url 'blog:addPost' %}">Write a new entry</a>
{% if latest_blog_posts %}
    <table border="1">
    	<tr>
    		<td>Post</td>
    		<td>Published on</td>
    		<td>Actions</td>
    	</tr>
    	{% for post in latest_blog_posts %}<tr>
    		<td><a href="{% url 'blog:editPost' post.id %}">{{post.title}}</a></td>
    		<td>{{post.date}}</td>
    		<td><a href="{% url 'blog:editPost' post.id %}">Edit</a> | 
                <a href="#" onclick="removePost({{post.id}})">Delete</a>
            </td>
   		</tr>{% endfor %}
    </table>
{% else %}
    <p>No articles at the moment.</p>
{% endif %}
</body>
</html>
