{% extends "blog/common.html" %}
{% block pagetitle %}
Admin Page
{% endblock %}

{% block additional %}
<script type="text/javascript" src="/blog/static/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/blog/static/js/commonajax.js"></script>
<script type="text/javascript" src="/blog/static/js/editPost.js"></script>

{% endblock %}

{% block content %}
<h1>Yissss, admin page</h1>
<a href="{% url 'blog:addPost' %}">Write a new entry</a>
{% if latest_blog_posts %}
    <table class="contentDiv">
        <thead>
        <tr>
            <td>Post</td>
            <td>Published on</td>
            <td>Actions</td>
        </tr>
    </thead>
        {% for post in latest_blog_posts %}<tr>
            <td><a href="{% url 'blog:editPost' post.id %}">{{post.title}}</a></td>
            <td>{{post.date}}</td>
            <td><a href="{% url 'blog:editPost' post.id %}">Manage</a> | 
                <a href="#" onclick="removePost({{post.id}})">Delete</a>
            </td>
        </tr>{% endfor %}
    </table>
{% else %}
    <p>No articles at the moment.</p>
{% endif %}
{% endblock %}