{% extends "blog/common.html" %}

{% block pagetitle %}
{{article.title}}
{% endblock %}

{% block additional %}

<script type="text/javascript" src="/blog/static/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/blog/static/js/commonajax.js"></script>
<script type="text/javascript" src="/blog/static/js/detail.js"></script>
{% endblock %}

{% block content %}
{% load blog_tags %}
<h1 class="a_title">{{article.title}}</h1>
<div class="contentDiv a_complete">
    <p class="a_sub">Published on {{article.date| date:"N jS Y"}}</p>
    <div class="a_cont">{{article.content | stripjs}}</div>
</div>
{% if comments|length > 0 or article.commentable %}
<div class="contentDiv comments_wrap">
    <a id="comments" />
    <h2>Comments</h2>
    <div class="comments">
            {% for c in comments %}
                    <h3 class="c_author {{c.color}}">{{c.author}}</h3>
                    <p class="c_sub">On a quest <span class="c_quest">{{c.quest}}</span> since {{c.date|date:"N jS Y"}}</p>
                    <p class="c_message">{{c.message}}
                    </p>
            {% if forloop.last == False %}<div class="c_break"></div>{% endif %}
            {% endfor %}
            {% if comments|length == 0 %}
            <p>No comment yet.</p>
            {% endif %}
    </div>
</div>
{% endif %}
<div class="contentDiv lc_wrap">
    {% if article.commentable %}
    <h2>Leave a comment</h2>
    <div class="leave_comment">
            <p>
            What is yer name ? <input type="text" name="name" id="nameF" /><br />
            What is yer quest ? <input type="text" name="quest" id="questF" /><br />
            What is ya favorite colour ? 
            <input type="radio" name="color" value="red"> Red
            <input type="radio" name="color" value="blue" checked> Blue
            <br /><br />
            Message<br />
            <textarea name="message" id="messageF" class="comment_txtarea"></textarea><br />
            <button onclick="submitComment({{ article.id }})">Submit</button>
            </p>
    </div>
    {% else %}
    <p>Sorry, this post doesn't allow comments{% if comments|length > 0 %} anymore{%endif%}.</p>
    {% endif %}
</div>
{% endblock %}
