<html>
<head>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script type="text/javascript">

function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", "{{csrftoken}}");
        }
    }
});

function addComment(post_id, name, quest, color, message){
    $.ajax({
        url: "/blog/api/comment/",
        type: 'POST',
        data: {
        	'csrfmiddlewaretoken':'{{csrf_token}}',
        	'post_id':post_id,
        	'name':name,
        	'quest':quest,
        	'color':color,
        	'message':message
        },
        dataType:"json",
        success: function( data ) {
            setTimeout(function(){
            	// I could probably just reload the part where the comments are
            	// Actually that would have been the whole point of using Ajax.
                location.reload();
            }, 200);    // Let's wait for the server to be finished with the transaction. Arbitrary 200ms
        }
    });
};

function submitComment(){
	console.log("adding")
	// well I guess I could check if those are empty or SQL stuff or anything.
	addComment( {{ article.id }}, $("#nameF").val(), $("#questF").val(), "#00DD00", $("#messageF").val());
};

</script>

</head><body>

<h1>{{article.title}}</h1>
<p>Published on {{article.date}}</p>
<p>{{article.content}}</p>

<h2>Comments</h2>
{% for c in comments %}
        <h3>{{c.author}}</h3>
        <p>{{c.message}}
        </p>
{% endfor %}

<h2>Leave a comment</h2>

What is yer name ? <input type="text" name="name" id="nameF" /><br />
What is yer quest ? <input type="text" name="quest" id="questF" /><br />
What is ya favorite colour ? <br />
Message : <br />
<textarea name="message" id="messageF"></textarea><br />
<button onclick="submitComment()">Submit</button>

</body></html>