{% extends "blog/common.html" %}
{% block pagetitle %}
{% if article %} Edit - {{ article.title}} {% else %} Add a post {% endif %}
{% endblock %}

{% block additional %}
<script type="text/javascript" src="/blog/static/jquery-1.11.2.min.js"></script>

<script type="text/javascript">

function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", "{{csrftoken}}");
        }
    }
});

function removePost(post_id){
    $.ajax({
        url: "/blog/api/articles/"+post_id,
        type: 'POST',
        data: {'csrfmiddlewaretoken':'{{csrf_token}}'},
        dataType:"json",
        success: function( data ) {
            setTimeout(function(){
                location.reload();
            }, 200);    // Let's wait for the server to be finished with the transaction. Arbitrary 200ms
        }
    });
}

function removeComment(id){
    $.ajax({
        url: "/blog/api/comment/delete",
        type: 'POST',
        data: {
            'csrfmiddlewaretoken':'{{csrf_token}}',
            'comment_id':id,
        },
        dataType:"json",
        success: function( data ) {
            setTimeout(function(){
                location.reload();
            }, 200);
        }
    });
};

</script>

{% endblock %}

{% block content %}
<h1>{% if article %} Edit - {{ article.title}} {% else %} Add a post {% endif %}</h1>

<form action="{% url 'blog:savePost' %}" method="post">
	{% csrf_token %}
	Title : <input type="text" name="title" value="{{ article.title}}"/><br />
	Content :<br />
	<textarea name="content">{{ article.content }}</textarea><br />
	Date : <input type="text" name="date" value="{% if article %}{{article.date|date:"Y-m-d"}}{% else %}{{date|date:"Y-m-d"}}{% endif %}"/><br />
	<input type="checkbox" name="draft" {% if article.draft %} checked {% endif %}/> Draft<br />
	<input type="checkbox" name="commentable" {% if article.commentable %} checked {% endif %}/> Open Comments
	{% if article %} <input type="hidden" name="article_id" value="{{article.id}}"> {% endif %}	
	<br /><input type="submit" value="Save Entry" />
</form>

<h2>Comments</h2>
{% for c in comments %}
            <h3>{{c.author}}</h3>
            <p>{{c.quest}} | <a href="#" onclick="removeComment({{c.id}})">Delete</a></p>
            <p>{{c.message}}
            </p>
{% endfor %}
{% endblock %}

