<html>
<head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script type="text/javascript">
console.log('ok');
// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

$.ajax({
	url: "/blog/api/articles/5021194726146048",
    type: 'POST',
	data: {'csrfmiddlewaretoken':'{{csrf_token}}'},
    dataType:"json",
	success: function( data ) {
		console.log(data);
	}
});

</script>

</head><body>
<h1>Hey, it works!</h1>
{{ csrf_token }}

{% if latest_blog_posts %}
    <ul>
    {% for post in latest_blog_posts %}
        <h3>{{post.title}}</h3>
        <p>{{post.content|truncatechars:300}}<br>
        <a href="{% url 'blog:detail' post.id %}">I want moar</a>
        </p>
    {% endfor %}
    </ul>
{% else %}
    <p>No articles at the moment.</p>
{% endif %}
</body>
</html>
