/*  --- So style, much CSS, very design, wow --- */
div{
    /*border:solid 1px;*/
}
/* General Div placement and size */
body{
    background:#EBEBFF;
    padding:0;
    margin:0;

    font-family: Calibri, "Trebuchet MS", Arial;
}

.page{
    margin:0 auto;
    width:70%;
}

/* Index latest entries list */

.post_wrap{
}

.p_sub{
    color:#667;
    height:30px;
}

.p_sub .p_date, .p_sub .get_more{
    display:inline-block;
    height:30px;
    padding-top:0;
    margin-top:0;
}

.get_more{
    float:right;
}

.p_title{
    margin:5px 0;
}

.menu{
    text-align:center;
    margin-top:5px;
}

h1{
    margin-top:10px;
}
/* Separate pages */

.contentDiv{
    padding:10px;
    background:#FFF;
    margin-bottom:10px;
}

.a_cont, .c_message, .p_cont{
    text-align:justify;
}

.a_cont{
    padding:30px;
    padding-top:10px;
}

.a_sub{
    text-align:right;
    font-size:0.9em;
    color:#667;
}

.c_author{
    margin-bottom:0;
}

.c_sub, .pro_tip{
    margin:3px 0 6px 0;
    font-size:0.8em;
    color:#667;
}

.c_message{
    margin-top:4px;
}

.c_break{
    border-bottom:solid 1px #DDF;
    width:60%;
    margin:10px auto;
}

.red{
    color:#A00;
}

.blue{
    color:#00A;
}

/* Forms */

input[type=text]{
    width:300px;    /* So responsive */
}

.comment_txtarea{
    width:440px;
    height:150px;
}

.adm_p_title, .adm_txtarea{
    width:calc(100% - 10px) !important;
}

.adm_p_title{
    margin-bottom:20px;
}

.adm_txtarea{
    height:520px;
}